body{
     background: #d9f1ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    background: #2f3b48;
    padding: 20px;
    border-radius: 20px;
    width: 280px;
}
#display {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 22px;
    background: #2f3b48;
    color: white;
    box-shadow: inset 5px 5px 10px #25303a,
                inset -5px -5px 10px #394656;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}
button {
    height: 55px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    color: white;
    background: #2f3b48;
    box-shadow: 5px 5px 10px #25303a,
               -5px -5px 10px #394656;
}

button:active {
    box-shadow: inset 5px 5px 10px #25303a,
                inset -5px -5px 10px #394656;
}

.op {
    color: #3fffd8;
}

.equal {
    grid-column: span 2;
    color: #3fffd8;
}