 body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
 .box{
    border: none;
    max-width: 450px;
    margin: auto;
    background-color: white;
    border-radius: 12px;
     
 }
 #addbtn{
    border-radius: 6px;
 }
 
 